@import "../variables.less";

.footer{
    padding-top: 50px;
    background-color: @dark_blue;
    color: #fff;
}
.footer__sitemap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.sitemap__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sitemap__col{
    width: 25%;
    padding: 10px 20px;
}
.sitemap__item{
}
.sitemap__title{
    font-size: 18px;
    padding: 10px;
    color:rgba(255,255,255, 0.5);
}
.sitemap__link{
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    &:hover{
        color:#fff;
    }
}
@media @tablet{
    .sitemap{
        flex-wrap: wrap;
    }
    .sitemap__col{
        width: 50%;
    }
}
@media (max-width:400px){
    .sitemap__col{
        width: 100%;
    }
}
