
@import "../variables.less";
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 3;
    max-width: 1170px;
}
@media @desktop {
    .container {
        max-width: 970px
    }
}
@media @tablet-hor {
    .container {
        max-width: 750px
    }
}
@media @tablet {
    .container {
        max-width: 540px
    }
}
@media @mobile {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}
.dropdown-menu,
body {
    font-size: .875rem;
    .nav-opened{
        position: fixed;
    }
}
::selection {
    background: #4FA0EC;
    color: #fff;
    text-shadow: none
}

::-moz-selection {
    background: #4FA0EC;
    color: #fff;
    text-shadow: none
}

::-webkit-selection {
    background: #4FA0EC;
    color: #fff;
    text-shadow: none
}

.visually-hidden{
    position:absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:active,
:focus {
    outline: 0 !important
}

body {
    line-height: 1.5;
    color: #555;
    font-family: Lato, sans-serif;
    margin: 0;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
}

a {
    text-decoration: none !important;
    color: #4FA0EC
}

a:hover {
    color: #222
}

a img {
    border: none
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: @dark_blue;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px;
    font-family: Raleway, sans-serif
}
h5,
h6 {
    margin-bottom: 20px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

h4 {
    font-weight: 600
}

h5,
h6 {
    font-weight: 700
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
    color: #4FA0EC
}

address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
    margin-bottom: 30px
}

small {
    font-family: Lato, sans-serif
}

#wrapper {
    width: 100%;
    margin: 0;
    position: relative;
    float: none;
    background-color: #fff;
    overflow: hidden;
}

.section {
    position: relative;
    margin: 0;
    padding: 60px 0;
/*    background-color: #3762cc6b;*/
    overflow: hidden
}
.section-dark{
    background-color: rgba(0, 75, 112, 0.62);
}
#content {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.content-wrap {
    position: relative;
    padding: 0;
}
.content-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/Background_LM/png/Background_LM_3.png);
    background-repeat: repeat-y;
    background-position: top;
    background-size: contain;
    z-index: 1;
}

.title{
    position: relative;
    margin-bottom: 30px;
    h2{
        position: relative;
        display: inline-block;
        padding-right: 15px;
        margin-bottom: 0;
    }
}

.title-center{
    text-align: center;
    h2{
        padding: 0 15px;
    }
}

.title-dark h2{
    color:#fff;
}
.uppercase{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
