@import "../variables.less";
.header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.53);
    height: 100px;
    transition: height .4s ease, opacity .3s ease;
}
.header-wrap {
    position: relative;
    z-index: 199;
    -webkit-backface-visibility: hidden;
    height: 100px;
    -webkit-transition: height .4s ease, opacity .3s ease;
    -o-transition: height .4s ease, opacity .3s ease;
    transition: height .4s ease, opacity .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 50%;
}
.logo__link{
    display: flex;
}
.logo__img{
    max-height: 300px;
    width: auto;
    margin: auto;
    margin-top: 350px;
    transition: all .5s ease;
}
.header__phone{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -100px;
}

@media @tablet{
    .header__logo{
        width: auto;
        position: absolute;
        left: 0;
        right: 0;
        top:0;
    }
    .logo__img{
        margin-top: 85px;
    }
    .header__phone{
        margin-left: 20px;
    }
}
@media @mobile{
    .header__phone{
        font-size: 14px;
    }
}
