@import "../variables.less";
.backcall-widget{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    background: url(images/Slider/2.jpg) center center no-repeat;
    background-size: cover;
}
.backcall-widget__form{
    width: 60%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.67);
    border-radius: 5px;
}
@media @mobile{
    .backcall-widget{
        width: auto;
    }
}
