@import "../variables.less";
.preheader{
    display: flex;
    position: relative;
    height: 500px;
}
.preheader__left{
    width: 50%;
    background-color: #fff;
}
.divcenter{
    width: 80%;
    margin: auto;
    padding-top: 260px;
    text-align: center;
}
.main-title > h1{
    font-size: 46px;
    line-height: 55px;
    color: #004b70;
    font-weight: 900;
    text-shadow: 0 7px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.2);
}
.main-title > p{
    margin: 0;
    color: #adcce7;

    font-weight: 300;
    opacity: .7;
    text-shadow: 0 -4px 20px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}
@media @tablet{
    .preheader{
        flex-direction: column;
        height: auto;
    }
    .preheader__left{
        width: 100%;
    }
}
@media (max-width: 400px){
    .divcenter{
        padding-top: 190px;
    }
    .main-title > h1{
        font-size: 36px;
        line-height: 55px;
        color: #004b70;
        font-weight: 900;
        text-shadow: 0 7px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.2);
    }
}
