@import "../variables.less";
.service-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 35px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}

.service-card__title{
    h3{
        margin: 0;
        font-size: 18px;
        line-height: 1.2;
    }
}

.service-card__image{
    padding: 20px 0;
    img{
        max-width: 80px;
        display: block;
        margin: auto;
    }
}

.service-card__content{
    padding: 0 10px;
//    display: none;
}
.service-card__list{
    margin: 0;
    padding: 0;
    margin-left: 30px;
}
.service-card__item{
    font-size: 14px;
    text-transform: lowercase;
}

.service-card__price{
    p {
        text-align: center;
        font-weight: 900;
        font-family: sans-serif;
        margin: 10px;
        font-size: 18px;
        color: #004b70;
    }
}

.service-card__order-button{
    text-align: center;
}

@media @tablet{
    .service-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
        flex-wrap: wrap;
        margin-bottom: 10px
    }

    .service-card__title {
        flex-basis: 65%;
        text-align: left;
        h3 {
            font-size: 14px;
        }
    }

    .service-card__image {
        display: none;
    }

    .service-card__content {
        order: 2;
        flex-grow: 1;
        margin: 10px;
        display: none;
    }

    .service-card__list {
        margin: 0;
        padding: 0;
        margin-left: 30px;
    }

    .service-card__item {
        font-size: 14px;
    }

    .service-card__price {
        flex-basis: 35%;
        p {
            font-size: 14px;
        }
    }

    .service-card__order-button {
        order:3;
        flex-grow: 1;
        text-align: center;
        display: none;
    }

    .service-card--opened{
        .service-card__content{
            display: block;
        }
        .service-card__order-button{
            display: block;
        }
    }
}
