.content-row{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.content-img{
    width:50%;
    margin:20px;
}
.content-img img{}

.content-article{
    margin:0px;
    width:50%;
}
.content-bg{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image:url(../images/Background_LM/png/Background_LM_3.png);
    background-repeat:repeat-y;
    background-position:top;
    background-size:cover;
    z-index:1
            }
.line {
    clear: both;
    position: relative;
    width: 100%;
    margin: 60px 0;
    border-top: 2px solid #eee;
}